# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
env/
venv/
.venv/

# Django
*.log
db.sqlite3
media/
staticfiles/
local_settings.py

# Environment variables
.env
.env.*

# IDE / Editor
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Migrations cache
**/migrations/__pycache__/

# Pytest
.pytest_cache/

# Coverage
.coverage
htmlcov/

# Jupyter
.ipynb_checkpoints/

# Build
build/
dist/
*.egg-info/
